# Default ignored files
cat <<EOF > .gitignore
EOF

# IDE
/shelf/
/workspace.xml
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env
.venv/
env/

# Local DB and test files
*.db
*.sqlite3

# Temporary files
.DS_Store

# Generated diagrams
sportmotivacio/*.png

